---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-4">
    <div class="text-sm mb-2">
      <a href="mailto:seunghoc94@gmail.com" class="hover:underline">seunghoc94@gmail.com</a>
      <span class="mx-2">|</span>
      <a href="tel:010-2327-9623" class="hover:underline">010-2327-9623</a>
    </div>
  </div>
  <div class="pb-2">
    &copy; {today.getFullYear()} Seungho Chae
  </div>
  <div class="inline opacity-75 text-xs">
    Built with <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>
<style></style>
